main {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}


h1 {

font-weight: bold;

}


p {

color: rgb( 0, 40, 85);
border: 3 px black;

}

.about {

background: rgb(234, 170, 0);
padding: 8px;
text-align: center;
color: rgb(0, 40, 85);
font-weight: bold;



}

img {
    height: 120px;
    width: 120px;

}

.column {

    float: left;
    margin-right: 16px;
    margin: 20px;
    width: 22%;
}

/*
CSS Formating for the about page.
*/


.card {
  
    box-shadow: 0px 4px 8px 0 #b3b3b3f5;
    padding: 0 16px 0 16px;
    border: 3px solid black;
}

    .footer {
        text-align: center;
        background: rgb(234, 170, 0);
        padding: 8px;
        border-style: solid;
        border-width: 4px;
        border-color: rgb(0, 40, 85);
    

}