
/*
CSS Formating for a user's profile page.
*/

main {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}

.about {

    background: rgb(234, 170, 0);
    padding: 8px;
    text-align: center;
    color: rgb(0, 40, 85);
    font-weight: bold;
    
}

.center-me {

    display:flex;
    justify-content: center;
    padding: 40px;
    text-align: "center";


}

.bg-cover {
    background-image: url("../images/background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

#prof-display {

display: block;

width: 150px;
margin: 10px auto;
border-radius: 50%;

}

#uname-style {

font-size: 20px;
font-family: "Lucida Console", 'Courier New', Courier, monospace;
font-weight: bold;



}