.h-100 {

background-color: rgb(234,170,0);

}

main {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}

.center-me {

    display:flex;
    justify-content: center;
    padding: 10px;
    text-align: "center";


}

.bg-cover {
    background-image: url("../images/background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}